<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csw.dao.EmpDao">

    <select id="countPage" resultType="java.lang.Integer">
		select count(*) from emp
	</select>

    <select id="findByCardId" resultType="Emp">
		select id,name,salary,age,birthday
		from emp
		where id=#{cardId}
	</select>

    <delete id="deleteAccount">
		delete from emp where id=#{cardId}
	</delete>

    <update id="updateBy">
		update emp set
		name=#{emp.name},salary=#{emp.salary},age=#{emp.age},birthday=#{emp.birthday} where id=#{emp.id}
	</update>

    <insert id="addEmp">
		insert into emp
		values(emp_seq.nextval,#{emp.name},#{emp.salary},#{emp.age},#{emp.birthday})
	</insert>

    <select id="queryCount" resultType="java.lang.Integer">
		SELECT COUNT (*) FROM emp
	</select>

    <select id="queryAllAndByPage" resultType="Emp">
		select *
		from(select e.*,rownum r from(
		select id,name,salary,age,birthday
		from emp) e)
		where r &gt;=#{firstIndex} and r
		&lt;=#{lastIndex}
	</select>
</mapper>































